.about_us {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: black;
  background:#FFFF00;
  opacity: 1;
   background-image: "https://github.com/giftcup/happyChild/commit/21169ef88147ac836ce6addd29f0b2980c036e9d#diff-4fd937ca5f3061d22ff81b30be9512b92eeb5d169be252becee2f45e8ca2e362";

}
.header{
  display: flex;
  text-justify: distribute-all-lines;
}
.goals{
  background-color: black;
  color: blanchedalmond;
}

