* {
  box-sizing: border-box;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: white;
  font-weight: bold;
  flex-wrap: wrap;
  width: 100vw;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
.navigation a{
  text-decoration: none;
  color: #000000;
  margin: 1em;
  padding: 1em;
  transition: background-color, color;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}
.navigation a:hover {
  background-color: yellow;
  color: black;
}
.menu {
  padding: 2em;
}
.image img{
  width:60px;
  height: 60px;
}
.home {
  display: flex;
  flex-direction: column;
  /* padding: 1em; */
}
.brief_about{
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("./assets/happyChild.jpeg") no-repeat top center fixed;
  background-size: cover;
  min-height: 700px;
  padding: 1em;
}
.helper {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("./assets/lookup.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 700px;
  padding: 1em;
}
.text_side {
  width: 50vw;
  padding: 1em;
  color: white;
  font-weight: bold;
  font-size: 24px;
  text-align: left;
}
.main_text {
  font-size: 50px;
  font-weight: bold;
  text-align: left;
  color: #fddb53;
}
.donor {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("./assets/schoolboy.jpg") no-repeat bottom center fixed;
  background-size: cover;
  min-height: 700px;
  padding: 4em 1em;
}
.login {
  margin-top: 3em;
}
.login a{
  font-size: 20px;
  margin-top: 1em;
  margin-right: 1em;
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 1em;
  transition: background-color, color;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}
.login a:hover{
  background-color: #fddb53;
}
.logins {
  padding-top: 3em;
}
@media only screen and (max-width:1024px) {
  .text_side {
    width: 90vw;
    padding: 1em;
    text-align: center;
  }
  .main_text {
    text-align:center;
  }
}

@media only screen and (max-width: 500px) {

}